# Entornos virtuales
venv/
__pycache__/

# Variables de entorno y secretos (¡CRÍTICO: NUNCA SUBIR!)
.env
tokens_ml.json

# Archivos de Excel / Datos locales
inventario.xlsx

# Tokens de acceso e información sensible
token_*.json
tokens_*.json
*.env